.carousel {
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.64);
    width: 100%;
    margin-top: 117px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    display: block;
    min-height: 330px;
    width: calc(100% - 100px);
    margin: 0 auto;
      -webkit-transform: translate(100%, 0px);
    cursor: pointer;
    -ms-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
}

.carousel-open:checked + .carousel-item  {
  -webkit-transform: translate(0px, 0px);
    cursor: pointer;
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.carousel-control {
    border-radius: 50%;
    color: #aaa;
    cursor: pointer;
    display: none;
    font-size: 80px;
    line-height: 35px;
    position: absolute;
    top: 50%;
   /* -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);*/
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    color: #000;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
}

.carousel-bullet {
    color: #757575;
    cursor: pointer;
    display: block;
    font-size: 24px;
    font-weight: 300;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #009eb1;
}
 .carousel-item {
    padding: 20px;
    text-align: center;
}